.card {
    display: flex;
    border: 1px solid #ccc;
    width: 900px;
    height: 400px;
    margin: 0 auto; 
    margin-top:200px;
  }
  
  .left-section {
    flex: 40%;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
  }
  
  .chat-room-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
  }
  
  .camera-icon {
    font-size: 24px;
    margin-left: 10px; 
  }
  
  .message-header {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    align-items:end;
    margin-left: 40px;
    padding: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0;
  }
  
  .right-section {
    flex: 60%;
    padding: 20px;
  }
  
  .task-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .task-category {
    /* Styling for the task categories */
  }
  