.card {
    display: flex;
    border: 1px solid #ccc;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    margin-top:  150px;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  .chat-room-header {
   margin:0;
   

  }
  
  .camera-icon {
    /* Styling for the camera icon */
  }
  
  .message-header {
   
  }
  
  .right-section {
    flex: 1;
    padding: 20px;
  }
  
  .task-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .task-category {
    /* Styling for the task categories */
  }
  